[submodule "theme/starter-academic"]
	path = themes/starter-academic
	url = https://github.com/martin-danelljan/starter-academic.git
[submodule "themes/github.com/wowchemy/wowchemy-hugo-modules"]
	path = themes/github.com/wowchemy/wowchemy-hugo-modules
	url = https://github.com/HugoBlox/hugo-blox-builder.git
